.breadcrumbs .breadcrumbs-item {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    background: #757C99;
  }