.bg-dreamcoders {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../../img/dreamcoders/estrellas.png") no-repeat scroll center bottom;
    background-size: cover;
}