/*==========STYLES===========*/

  .homeServices .swiper {
    width: 100%;
    height: 100%;
  }

  .home-services-title::before {
    content: "";
    background: url("../../../img/home/fondo-title-service.png") no-repeat scroll center bottom;
    position: absolute;
    left: 40px;
    width: 120%;
    height: 120%;
    background-size: cover;
    z-index: 0;
    top: 0px;
  }
.sliderContent {
    height: 576px;
    position: relative;
  }
.sliderContent::after {
    content: "";
    position: absolute;
    background: linear-gradient(-66.23deg, rgba(6, 33, 180, 1) 0%, rgba(36, 109, 251, 1) 99%);
    width: 100%;
    height: 300px;
    border-radius: 150px 0 0 150px;
    transform: rotate(356deg);
    bottom: 12%;
    box-shadow: 4px -12px 1px 4px rgb(12 27 120 / 40%);  
  }
  .sliderContent::before {
    content: '';
    width: 300px;
    height: 300px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background-color: #32A6DA;
    position: absolute;
    top: 15%;
    box-shadow: 14px 11px 1px 4px rgb(12 27 120 / 40%);
    left: 15px;
  }


.sliderContent .swiper-wrapper {
  align-items: center;
}

.sliderContent .swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  height: 70%;
  position: relative;
  transition-property: transform;
  flex-shrink: 0;
  color: #fff;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  padding: 0px 10px;
}

.sliderContent .swiper-button-prev, .sliderContent .swiper-button-next {
  color: #fff;
  top: 60%;
}

/*==========ANIMATION===========*/
/*==========RESPONSIVE===========*/

/*Mobil*/
@media (max-width: 512px) {
    .ServItem .w-50 {
      width: 75%!important;
    }
    .homeServices .swiper-slide {
      height: 85%;
    }

    .home-services-title h2 {
      font-size: 40px;
    }
    .sliderContent::before {
      top: 55px;
    }
    .sliderContent::after {
      bottom: 12%;
      width: 405px;
      transform: rotate(360deg);
    }

}

  /*Tablet*/
  @media (min-width: 513px) and (max-width:812px){
}

/*Desktop*/
@media screen and (min-width:813px){
  .sliderContent::after {
    border-radius: 150px;
  }
}


