/*==========STYLES===========*/
.swiper-blog-home {
    overflow: hidden;
  }  

  .contentBlog {
    display: flex;
    align-items: center;
    background-color: #B075D6;
  }
  .contentBlogItem {
    display: flex;
    align-items: center;
  }
  .contentBlogItem .feedback{
    padding-left: 80px;
    padding-right: 70px;
    position: relative;
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  .contentBlogItem .feedback .learn_btn_two:before {
    content: "";
    left: 0;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: background .3s linear;
  }
  .contentBlogItem .feedback p{
    line-height: 27px;
    color: #fff;
  }

  .learn_btn {

    color: #fff;
    display: inline-block;
    margin-top: 7px;
    position: relative;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }
  .learn_btn:hover {
    color: #fff;
  }


/*==========ANIMATION===========*/
/*==========RESPONSIVE===========*/
/*Mobil*/
@media screen and (max-width:512px){
  .contentBlogItem .feedback {
    padding: 30px 20px;
    height: 390px;

}
}
/*Tablet*/
@media (min-width: 513px) and (max-width:812px){
  .contentBlogItem .feedback {
    padding: 30px 20px;
}
}
/*Desktop*/
@media screen and (min-width:813px){

}